html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* basic css */
.complete-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    text-transform: uppercase;
}

.game-heading{
    font-size:100px;
}


/* css for game part */
.player-button{
    background-color: white;
    height:80px;
    width:300px;
    font-size:40px;
    border-color:#cdcfd5;
    border-radius:50px;
    margin-top:100px;
    transition: 0.5s ease-in ;
}
.player-button:hover{
    background-color:bisque;         
}
.game *{
    margin:20px;
}
.game {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

/* single player page */
.heading-player1{
    font-size: 40px;
}
.enter-name{
    height:20px;
    width:300px;
    padding:20px;
    font-size:25px;
    border-radius:25px;
}

.play-game{
    width:200px;
    height:40px;
    margin:25px;
    font-size:25px;
    border-radius:25px; 
    background-color:whitesmoke;
}

/* game div styles */
.game-div{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
.game-div *{
    font-size:30px;
}


/* grid elements */
.main-grid-div{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    cursor:pointer;
    grid-gap:5px;
    background-color: black;
    padding:20px;
}
.grid-item{
    width:80px;
    height:80px;
    margin:0px;
    background-color:#cdcfd5;
    color:black;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-size:40px;
}
.grid-item:hover{
    background-color:gray;
}

.lower-btn{
    width:150px;
    height:50px;
    border-radius:25px;
    font-size:20px;
}
.lower-btn:hover{
    background-color:#cdcfd5;
}